*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height:60vh;
    /* justify-content: center;
    align-items: center; */
    font-size:24px;
    color: white;
}
.head{
    flex-basis: 100%;
    height: 10%;
    background-color: darkred;
    text-align: center;
}
.aside-left{
    flex-basis: 25%;
    height: 100%;
    background-color: darkgreen;
    text-align: center;
}
.tekst{
    flex-basis: 50%;
    height: 100%;
    background-color: skyblue;
    text-align: center;
    margin: 0;
}
.aside-right{
    flex-basis: 25%;
    height: 100%;
    background-color: violet;
    text-align: center;
}
.top{
    flex-basis: 100%;
    height: 10%;
    background-color: purple;
    text-align: center;
}
